/* ================= SUBDOMINIOS (días) ================= */
#cal-heatmap .ch-subdomain-text {
    text-anchor: middle !important;
    dominant-baseline: central !important;
    /* font-weight: 500; */
    pointer-events: none;
    user-select: none;
    fill: #000000 !important;
    transition: font-size 0.2s ease, x 0.2s ease, y 0.2s ease;
}

.dark #cal-heatmap .ch-subdomain-text {
    fill: #ffffff !important;
}

/* Responsive subdominios */
@media (max-width: 768px) {
    #cal-heatmap .ch-subdomain-text {
        font-size: 16px !important;
        /* font-weight: 100; */
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #cal-heatmap .ch-subdomain-text {
        font-size: 14px !important;
    }
}
@media (min-width: 1025px) {
    #cal-heatmap .ch-subdomain-text {
        font-size: 12px !important;
    }
}

/* Ajustes con zoom/pantallas retina */
/* @media (resolution: 150dpi), (resolution: 1.5dppx) {
    #cal-heatmap .ch-subdomain-text {
        font-size: calc(var(--cell-size, 20px) * 0.4) !important;
    }
}
@media (resolution: 200dpi), (resolution: 2dppx) {
    #cal-heatmap .ch-subdomain-text {
        font-size: calc(var(--cell-size, 20px) * 0.35) !important;
    }
} */

/* ================= DOMINIOS (meses) ================= */
#cal-heatmap .ch-domain-text {
    font-size: 12px !important;
    font-weight: 100;
    text-transform: capitalize;
    transition: font-size 0.2s ease;
}

/* Responsive dominios */
@media (max-width: 768px) {
    #cal-heatmap .ch-domain-text {
        font-size: 14px !important;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #cal-heatmap .ch-domain-text {
        font-size: 12px !important;
    }
}
@media (min-width: 1025px) {
    #cal-heatmap .ch-domain-text {
        font-size: 12px !important;
    }
}
